*{
    background-color: white;
}
.maps{
   display: flex;
   padding: 0 0;
}
.search-nas{
    display: flex;

}

.h3{
    padding-left:  20px;
    font-size: 30px;
    line-height: 1.385;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: rgba(0, 0, 0,.85);
}
.arc{
    padding-left:  20px;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: rgba(0, 0, 0,.58);
}
.search{
    width: 45%;
    height: 150px;
    border-bottom: 1px solid rgba(0,0,0,.58)ф;
    border-top: none;
    border-right: none;
    border-left: none;
}
.nas{
    display: block;
}
.astyy{
    display:flex;
}
.astyy a {
    text-decoration: none;
    color: #00754a;
}
.emblema{
    vertical-align: middle!important;
}